In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

In [2]:
data_num = pd.read_csv('numerical.csv')
data_cat = pd.read_csv('categorical.csv')

In [3]:
data = pd.concat((data_cat,data_num ), axis = 1)

In [4]:
data

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy,...,vehicle_class,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate L3,...,Two-Door Car,Medsize,2763.519279,56274,69,32,5,0,1,384.811147
1,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal L3,...,Four-Door Car,Medsize,6979.535903,0,94,13,42,0,8,1131.464935
2,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal L3,...,Two-Door Car,Medsize,12887.431650,48767,108,18,38,0,2,566.472247
3,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate L2,...,SUV,Medsize,7645.861827,0,106,18,65,0,7,529.881344
4,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal L1,...,Four-Door Car,Medsize,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal L1,...,Four-Door Car,Medsize,23405.987980,71941,73,18,89,0,2,198.234764
9130,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate L3,...,Four-Door Car,Medsize,3096.511217,21604,79,14,28,0,1,379.200000
9131,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate L2,...,Four-Door Car,Medsize,8163.890428,0,85,9,37,3,2,790.784983
9132,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal L2,...,Four-Door Car,Large,7524.442436,21941,96,34,3,0,3,691.200000
9133,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate L3,...,Two-Door Car,Medsize,2611.836866,0,77,3,90,0,1,369.600000

In [5]:
# # ordinal encoding the 2 categorical columns that will not be OneHotEncoded
# # checking for unique values to determine the 'classes'
# display(X.coverage.unique())
# display(X.vehicle_size.unique())
# data["coverage"] = data["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1}).astype(str)
# data["vehicle_size"] = data["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1}).astype(str)
# # check results
# data.head(2)

In [6]:
# X,y Split (Total Claim Amount as Target)
X = data.drop(['total_claim_amount'], axis=1)
y = data['total_claim_amount']

In [7]:
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
# Separating X_train and X_test into numerical and categorical
X_train_num = X_train.select_dtypes(np.number)
X_test_num = X_test.select_dtypes(np.number)
X_train_cat = X_train.select_dtypes(object)
X_test_cat = X_test.select_dtypes(object)

In [9]:
# ordinal encoding the 2 categorical columns that will not be OneHotEncoded
# checking for unique values to determine the 'classes'
# display(X.coverage.unique())
# display(X.vehicle_size.unique())
X_train_cat["coverage"] = X_train_cat["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1}).astype(str)
X_train_cat["vehicle_size"] = X_train_cat["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1}).astype(str)
X_test_cat["coverage"] = X_test_cat["coverage"].map({"Basic" : 0, "Extended" : 0.5, "Premium" : 1}).astype(str)
X_test_cat["vehicle_size"] = X_test_cat["vehicle_size"].map({"Small" : 0, "Medsize" : 0.5, "Large" : 1}).astype(str)

In [10]:
X_train_cat_Ordinal = pd.concat([X_train_cat["coverage"],X_train_cat["vehicle_size"]], axis = 1)
X_train_cat_Ordinal

     coverage vehicle_size
8679      0.5          0.5
8400      0.5          0.0
3917      0.0          0.0
1486      0.5          0.5
6616      0.0          0.0
...       ...          ...
820       0.5          0.5
8060      1.0          0.5
6737      0.0          0.5
1208      0.0          0.5
8830      0.5          0.5

[7307 rows x 2 columns]

In [11]:
X_test_cat_Ordinal = pd.concat([X_test_cat["coverage"],X_test_cat["vehicle_size"]], axis = 1)
X_test_cat_Ordinal

     coverage vehicle_size
1760      0.0          0.5
4524      0.0          0.5
3860      0.5          0.0
4116      0.0          0.5
1679      0.0          0.5
...       ...          ...
4621      0.0          0.0
3810      0.0          1.0
8643      1.0          0.0
6765      0.5          0.5
3913      0.5          0.0

[1827 rows x 2 columns]

In [12]:
# check results
# display(X_train_num.shape)
# display(X_train_cat.shape)
# display(X_test_num.shape)
# display(X_test_cat.shape)

In [13]:
transformer = MinMaxScaler().fit(X_train_num)
X_train_num_standardized = pd.DataFrame(transformer.transform(X_train_num))
X_test_num_standardized = pd.DataFrame(transformer.transform(X_test_num))

In [14]:
# check results
display(X_train_num_standardized)
display(X_train_num_standardized)
X_train_num_standardized.shape

             0         1         2         3         4    5      6
0     0.093188  0.253268  0.274262  0.657143  0.525253  0.0  0.250
1     0.169054  0.317950  0.291139  0.314286  0.656566  0.0  0.125
2     0.042332  0.229124  0.029536  0.857143  0.191919  0.0  0.750
3     0.106145  0.599764  0.295359  0.200000  0.545455  0.0  0.750
4     0.141722  0.697062  0.215190  0.971429  0.626263  0.2  0.125
...        ...       ...       ...       ...       ...  ...    ...
7302  0.372093  0.913924  0.160338  0.628571  0.898990  0.0  0.125
7303  0.075613  0.755454  0.172996  0.057143  0.131313  0.0  0.375
7304  0.036383  0.411338  0.000000  0.800000  0.898990  0.0  0.875
7305  0.044582  0.360949  0.046414  0.457143  0.313131  0.0  1.000
7306  0.065225  0.000000  0.160338  0.000000  0.535354  0.0  0.500

[7307 rows x 7 columns]

             0         1         2         3         4    5      6
0     0.093188  0.253268  0.274262  0.657143  0.525253  0.0  0.250
1     0.169054  0.317950  0.291139  0.314286  0.656566  0.0  0.125
2     0.042332  0.229124  0.029536  0.857143  0.191919  0.0  0.750
3     0.106145  0.599764  0.295359  0.200000  0.545455  0.0  0.750
4     0.141722  0.697062  0.215190  0.971429  0.626263  0.2  0.125
...        ...       ...       ...       ...       ...  ...    ...
7302  0.372093  0.913924  0.160338  0.628571  0.898990  0.0  0.125
7303  0.075613  0.755454  0.172996  0.057143  0.131313  0.0  0.375
7304  0.036383  0.411338  0.000000  0.800000  0.898990  0.0  0.875
7305  0.044582  0.360949  0.046414  0.457143  0.313131  0.0  1.000
7306  0.065225  0.000000  0.160338  0.000000  0.535354  0.0  0.500

[7307 rows x 7 columns]

(7307, 7)

In [15]:
# splitting off group of categoricals for one for OneHotEncoding
X_train_cat_OneHot = X_train_cat.drop(['vehicle_size', 'coverage'], axis=1)
X_test_cat_OneHot = X_test_cat.drop(['vehicle_size', 'coverage'], axis=1)
# putting location code and employment status into OneHot group, because Ordinal implies ranking
# and i dont want that for both of them

In [16]:
# # check results
# display(X_train_cat_OneHot.head(2))
# display(X_test_cat_OneHot.head(2))

In [17]:
# encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(X_train_cat_OneHot)
# X_train_cat_OneHot_encoded = pd.DataFrame(encoder.transform(X_train_cat_OneHot).toarray())
# X_test_cat_OneHot_encoded = pd.DataFrame(encoder.transform(X_test_cat_OneHot).toarray())
encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(X_train_cat)
X_train_cat_OneHot_encoded = pd.DataFrame(encoder.transform(X_train_cat).toarray())
X_test_cat_OneHot_encoded = pd.DataFrame(encoder.transform(X_test_cat).toarray())

In [18]:
# X_train_cat_encoded =

In [19]:
# check results
display(X_train_cat_OneHot_encoded)
display(X_test_cat_OneHot_encoded)

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7303,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7304,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7305,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7306,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1823,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1824,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1825,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1826,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [20]:
X_train_num_standardized

             0         1         2         3         4    5      6
0     0.093188  0.253268  0.274262  0.657143  0.525253  0.0  0.250
1     0.169054  0.317950  0.291139  0.314286  0.656566  0.0  0.125
2     0.042332  0.229124  0.029536  0.857143  0.191919  0.0  0.750
3     0.106145  0.599764  0.295359  0.200000  0.545455  0.0  0.750
4     0.141722  0.697062  0.215190  0.971429  0.626263  0.2  0.125
...        ...       ...       ...       ...       ...  ...    ...
7302  0.372093  0.913924  0.160338  0.628571  0.898990  0.0  0.125
7303  0.075613  0.755454  0.172996  0.057143  0.131313  0.0  0.375
7304  0.036383  0.411338  0.000000  0.800000  0.898990  0.0  0.875
7305  0.044582  0.360949  0.046414  0.457143  0.313131  0.0  1.000
7306  0.065225  0.000000  0.160338  0.000000  0.535354  0.0  0.500

[7307 rows x 7 columns]

In [21]:
X_train_cat_OneHot_encoded

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7303,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7304,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7305,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7306,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
X_train_cat_Ordinal.reset_index(inplace=True)

In [23]:
X_test_cat_Ordinal.reset_index(inplace=True)

In [24]:
# X_train_cat["coverage"].reset_index()

In [25]:
# concatinating all standardized data
# X_train_treated = pd.concat((X_train_num_standardized, X_train_cat_OneHot_encoded, X_train_cat_Ordinal), axis = 1)
# X_test_treated = pd.concat((X_test_num_standardized, X_test_cat_OneHot_encoded, X_test_cat_Ordinal), axis = 1)
X_train_treated = pd.concat((X_train_num_standardized, X_train_cat_OneHot_encoded), axis = 1)
X_test_treated = pd.concat((X_test_num_standardized, X_test_cat_OneHot_encoded), axis = 1)

In [26]:
# X_train_treated

In [27]:
# X_test_treated

In [28]:
# linear regression
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
lm = linear_model.LinearRegression()
lm.fit(X_train_treated,y_train)

LinearRegression()

In [29]:
# k neighbors
from sklearn.neighbors import KNeighborsRegressor

KNN = KNeighborsRegressor(n_neighbors=6, weights='uniform', algorithm='auto', p=1, n_jobs=1)
KNN.fit(X_train_treated, y_train)

KNeighborsRegressor(n_jobs=1, n_neighbors=6, p=1)

In [30]:
# linear regression on training data
predictions = lm.predict(X_train_treated)
r2_score(y_train, predictions)
# getting pretty good results here

0.7779743426871376

In [31]:
# k neighbors on training data
score = KNN.score(X_train_treated, y_train)
score

0.6725047384962729

In [32]:
# linear regression on testing data
predictions_test = lm.predict(X_test_treated)
r2_score(y_test, predictions_test)
# getting pretty good results here as well

0.7555110489705829

In [33]:
# k neighbors on testing data
score = KNN.score(X_test_treated, y_test)
score

0.5610962500129479

#### I tried running the prediction tests with coverage and vehicle size ordinal encoded, but that gave me super bad (0.31 on training data and 0.03 on testing data) results for the k neighbor test. if i just onehot encode every categorical column, the results are, as you can see, significantly better

In [34]:
# k neighbor prediction on testing data really bad, so checking for a better numbr of k
scores = []
for k in range(2,25):
    model = KNeighborsRegressor(n_neighbors=k, weights='uniform', algorithm='auto', p=1)
    model.fit(X_train_treated, y_train)
    scores.append(model.score(X_test_treated, y_test))

In [35]:
scores

[0.4845390166659199,
 0.5424323732120718,
 0.5768394072954632,
 0.5648167835604199,
 0.5610962500129479,
 0.557240796053607,
 0.5566061732971959,
 0.5580077117725022,
 0.5589600528480658,
 0.5565414955771947,
 0.553061455948919,
 0.552316886581725,
 0.5499068477305125,
 0.5514139154395361,
 0.5466752336223087,
 0.5423039538785434,
 0.5388980688796807,
 0.5399962918977652,
 0.5360161636092086,
 0.5347868526686568,
 0.5362630683534526,
 0.5331755482774839,
 0.5323484113102825]

In [36]:
x = X_train_treated
y = X_test_treated

def multiple_models(x,y):
    # linear regression
    lm = linear_model.LinearRegression()
    lm.fit(x,y_train)
    predictions = lm.predict(x)
    LM_train_score = r2_score(y_train, predictions)
    predictions_test = lm.predict(y)
    LM_test_score = r2_score(y_test, predictions_test)
    
    # k neighbor
    KNN = KNeighborsRegressor(n_neighbors=6, weights='uniform', algorithm='auto', p=1, n_jobs=1)
    KNN.fit(x, y_train)
    KNN_train_score = KNN.score(x, y_train)
    KNN_test_score = KNN.score(y, y_test)
    
    return LM_test_score, KNN_test_score

#### Prediction results for LM are higher values than for KNN (where the optimum lies somewhere 0.54)

In [38]:
def multiple_predictions(models, data):
    predictions = []
    for model in models:
        prediction = model.predict(data)
        predictions.append(prediction)
    return predictions

In [40]:
# Example usage:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

# Create some example models
model1 = LinearRegression().fit(data)
model2 = RandomForestRegressor(n_estimators=100).fit(data)

# Combine the models into a list
models = [model1, model2]

# Input data for prediction
data = X_train_treated

# Call the function to get predictions from both models
predictions = multiple_predictions(models, data)

# Print the predictions
print(predictions)

TypeError: fit() missing 1 required positional argument: 'y'